h1 {
    color: black;
    font-size: 100%;
    text-align: center;
}

body {
    background-color: aquamarine;
}

#il {
    width:25%;
    margin-left: 40%;
}

p {
    color: black;
    font-size: 100%;
    text-align: center;
}
